In [ ]:
!pip install mysql-connector-python

<h1>Task 1- connect</h1>

In [1]:
import mysql.connector as connector

In [2]:
connection=connector.connect(port=3306, user='littlelemon', password='mario', db= 'LittleLemonDB')

In [3]:
cursor=connection.cursor()

<h1>Task 2 - simple query</h1>

In [4]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)
results= cursor.fetchall()
for tables in results:
    print(tables)

('address',)
('bookings',)
('course',)
('customer',)
('delivery',)
('employee',)
('menu',)
('menuitems',)
('orderitems',)
('orders',)
('ordersview',)

<h1>Task 3 - Join Query</h1>

In [5]:
#Note: I have separate tables for address and have menuItems (m:1 with orderItems), orderItems (m:1 with orders) and orders that have to be joined
query="""
Select CustomerName, Email, ContactNumber, address.street, address.city, address.state, address.ZipCode, sum(quantity*price) as TotalSales
from orderitems left join orders on orderitems.orderId = orders.idOrders
left join menuItems on orderitems.MenuItemID = menuItems.idMenuItems
left join customer on customer.idcustomer = orders.customerID
left join Address on customer.AddressID = Address.idaddress
group by customer.idcustomer
having TotalSales > 60;"""

cursor.execute(query)
results = cursor.fetchall()

print(cursor.column_names)

for row in results:
    print(row)

('CustomerName', 'Email', 'ContactNumber', 'street', 'city', 'state', 'ZipCode', 'TotalSales')
('Fake PersonA', 'test@test.com', 1555999, '1 Blah street', 'City place', 'In the state', '11111', Decimal('909'))
('Notreal PersonB', 'notreal@fake.com', 1666888, '2 Blah street', 'Other City place', 'Out the state', '22222', Decimal('204'))

In [6]:
#Close stuff
cursor.close()
connection.close()